<h2>{{title}}</h2>
<!-- p>User: {{user}}</p-->
<h3>HTTP Headers ({{headers.length}})</h3>
<table class="table table-hover table-condensed table-bordered table-sm">
  <thead class="thead-dark"><th class="w-20">Header</th><th class="w-80">Value</th></thead>
  {{#each headers}}
  <tr>
    <td style="white-space: nowrap">{{key}}</td><td>{{value}}</td>
  </tr>
  {{/each}}
</table>
<h3>JWT Claims ({{claims.length}})</h3>
<table class="table table-hover table-condensed table-bordered table-sm">
  <thead class="thead-dark"><th class="w-20">typ</th><th class="w-80">val</th></thead>
  {{#each claims}}
  <tr>
    <td style="white-space: nowrap">{{type}}</td><td>{{value}}</td>
  </tr>
  {{/each}}
</table>
